<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  $<%= @product.formatted_price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<div class="reviews">
  <h2>Reviews</h2>

  <%= @product.reviewers.count %> people have reviewed this product.
  <%= link_to "Add a review", new_review_path(:product_id => @product.id) %>.


  <% @product.reviews.each do |review| %>
    <div class="review">
      <%= review.comment %>
      <br/>
      <p>- by <%= link_to review.user.name, user_path(review.user) %> at <%= review.created_at %></p>
    </div>
  <% end %>
</div>